:root {
  --background-color: rgb(27, 28, 39);
  --button-font-size: 16px;
  --border-radius: 3px;
}

/* COMMON */

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
ul,
li {
  list-style: none;
  padding: 0;
}
body {
  background: var(--background-color);
}
main {
  height: 100%;
}
button {
  padding: 0;
  margin: 0;
}
img {
  width: 40px;
}

/* START */
header {
  text-align: center;
  padding-top: 50px;
}
header img {
  width: 80px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.filter_list {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.filter_list button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in;
}
.filter_list button span {
  height: 100%;
  display: block;
  line-height: 45px;
  width: 50px;
  padding: 0 10px;
  font-size: var(--button-font-size);
}
.filter_list button:hover {
  transform: scale(1.2);
}
.filter_list .color_box {
  display: flex;
  align-items: center;
}
.filter_list .blue {
  background: dodgerblue;
}
.filter_list .yellow {
  background: goldenrod;
}
.filter_list .pink {
  background: palevioletred;
}
.clothes_list {
  width: 60%;
  height: 60%;
  overflow-y: scroll;
}
.clothes_list li {
  background: #fff;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.clothes_list li img {
  margin-right: 20px;
}
